body{
    font-family: Georgia, "Times New Roman",
    Times, serif;
color: #384B70;
background-color: #f7f3de 
}
body.main {
    margin-top: 3em;
    padding-left: 2em;

}
h2.group {
    display: flex;
    justify-content: center
}
div.group{
    margin-left: 1em;

}
a{
    text-decoration:none;
}
a:link{
    color: #507687
}
a:hover{
    color: #B8001F;
}
a:visited{
    color: #507687;
}
ul{
    margin-left: -2em;
}
.contact{
    background-color: #f7f3de;
    padding: 0.1rem;

    /*border-color: #384B70;*/
    
}
.contact:hover{
    color: #384B70;
    transition: all 0.1s ease-in;
}
a.group{
    font-weight: bold;
    color: #384B70;
}